$dropdown-subitem-position-right: -197px !default;
$dropdown-subitem-left-hover:   -8px !default;
$dropdown-subitem-arrow-rotate:   rotate(-90deg) !default;

$dropdown-md-min-width:         15rem !default;
$dropdown-lg-min-width:         23rem !default;
$dropdown-lg-width-responsive:  19rem !default;
$dropdown-xl-min-width:         40rem !default;
