// Navbar collapse

$navbar-vertical-collapse-dot-size:              5px !default;
$navbar-vertical-collapse-dot-size-active:       8px !default;
$navbar-vertical-collapse-margin-left:           1.35rem !default;
$navbar-vertical-collapse-left:                  -15px !default;
$navbar-vertical-collapse-top:                   50% !default;
$navbar-vertical-collapse-translate:             translate(0,-50%) !default;

$navbar-vertical-hidden-width:                   6rem !default;
