// Timeline

$timeline-axis-width: 2px !default;
$timeline-axis-color: $border-color !default;

$timeline-step-bg: $white !default;
$timeline-step-border-width: 2px !default;
$timeline-step-border-color: $timeline-axis-color !default;
